<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Items!{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/posts">See All Lists</a></li>
    <li role="presentation"><a href="/posts/new">Add a New List</a></li>
</ul>
<div class="container">



    <div class="page-header">

        <h1>Welcome to Travel Planner. <hr noshade><small>An organizing tool!</small></h1>
    </div>

    <img src="images/backpack.jpg">

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}